body {
    height: 100vh;
    background-image: url('https://github.com/JoaoFigueired0/Calculadoras_Online/blob/main/assets/f7c45c17-a1dc-4710-957f-25ba109cddf8.jpg?raw=true');
    background-size: cover;
    background-position: center;
  }
  